.MuiBadge-badge {
  background: #2f2e2e;
  color: #fff;
}
a {
  text-decoration: none;
  color: #000;
}
.emptyBasketLink {
  color: #1976d2;
  font-weight: bold;
  margin-left: 10px;
}
.productBoxContainer:hover {
  box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.75);
}
